<!DOCTYPE html>

<html lang="en" ng-app="jobfair">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="fav.png" />

    <title>IEEE Job Fair 2018</title>

    <!-- css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>

</head>

<body data-spy="scroll" data-target="#site-nav" ng-controller="regController">
    <nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-header">

                <!-- logo -->
                <div class="site-branding">
                    <a class="logo" href="index.html">

                        <!-- logo image  -->
                        <img src="assets/images/logo.png" width="30%" height="30%" alt="Logo">

                    </a>
                </div>

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <!-- /.navbar-header -->

            <div class="collapse navbar-collapse" id="navbar-items">
                <ul class="nav navbar-nav navbar-right">

                    <!-- navigation menu -->
                    <li class="active"><a data-scroll href="#about">About</a></li>
                    <li><a data-scroll href="#instr">Instructions</a></li>
                    <li><a data-scroll href="#login">Login</a></li>
                    <li><a data-scroll href="#schedule">Schedule</a></li>
                    <li><a data-scroll href="#recruiter">Past Recruiters</a></li>
                    <li><a data-scroll href="#partner">Partners</a></li>
                    <li><a data-scroll href="#contact">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <!-- /.container -->
    </nav>

    <header id="site-header" class="site-header valign-center">
        <div class="intro">


            <h1>IEEE Job Fair 2018</h1>
            <p>You are one click away</p>

            <!--<a class="btn btn-white" href="registernow.html" target="_blank">Register Now</a>-->
            <a class="btn btn-white" href="#instr" target="_blank">Proceed to Register</a>
            <br>
            <br>
            <center>
                <p><b> Visit <a href="https://www.facebook.com/jobfairieee"> Facebook Page </a> for Updates.</b></p>
            </center>
            <br>
            <marquee><b>Click <a href="#admitcard">Here</a> to Download Admit Card</b>
            </marquee>
        </div>
    </header>

    <section id="instr" class="section instr">
        <div class="container">
            <h2>Instructions </h2>
            <ol>
                <li><b>Job Fair 2018 is exclusively for 2018 passouts.</b></li>
                <li>Active IEEE Members must fill in their IEEE Membership ID in the registration form.</li>
                <li>Active IEEE Members must produce their membership grade card at the aptitude centre.</li>
                <li>Non IEEE Members are supposed to pay a fee of Rs.250/- here for writing the aptitude test.</li>
                <li>Link for Payment for Non-IEEE Members will be sent through Email.</li>
                <li>Non IEEE Members must fill in the 'Payment Conifrmation (For Non IEEE Members)' form once you complete the payment.</li>
                <li>Dates and details of Aptitude test will be notified through Email.</li>
            </ol>
            <h3>Registration Closed!!</h3>
            <!--<a class="btn btn-black" href="registernow.html" target="_blank">Register Now</a>-->
        </div>
    </section>
    <center>
        <section id="login" class="section registration">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h3 class="section-title" align="center">Login Now </h3>
                    </div>
                </div>

                <form method="post" id="registration-form">
                    <div class="row">
                        <div class="col-md-" id="registration-msg" style="display:none;">
                            <div class="alert"></div>
                        </div>
                        <div class="col-sm-12">

                            <div class="form-group">
                                <input ng-model="data.login.email" type="email" class="form-control" placeholder="Email" id="email" name="email" required>
                            </div>

                            <div class="form-group" align="center">
                                <input ng-model="data.login.password" type="password" class="form-control" placeholder="Password" id="password" name="password" required>
                            </div>

                        </div>


                    </div>
                    <div class="text-center mt20">
                        <button ng-click="loginFn()" type="submit" class="btn btn-black" id="registration-submit-btn">Login</button><br><br>
                        <!--<p><a href="#">Forgot Password? </a></p>-->
                        <p><a href="registernow.html">New User ? Register Now</a></p>
                    </div>
                </form>
            </div>
        </section>
    </center>

    <!--<section id="nonieee" class="section registration">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title" align="center">Payment Conifrmation (For Non IEEE Members)</h3>
                </div>
            </div>

            <form method="post" onsubmit="return validate()" id="upd">
                <div id="updiv" class="row">
                    <div class="col-md-12" id="registration-msg" style="display:none;">
                        <div class="alert"></div>
                    </div>
                    <div class="col-sm-12">

                        <div class="form-group">
                            <input ng-model="data.upd.email" type="email" class="form-control" placeholder="Email" id="email" name="email" required>
                        </div>

                        <div class="form-group" align="center">
                            <input ng-model="data.upd.password" type="password" class="form-control" placeholder="Password" id="password" name="password" required>
                        </div>

                        <div class="form-group">
                            <input ng-model="data.upd.transID" type="text" class="form-control" placeholder="Yepdesk transactional Id" id="yepdesk" name="yepdesk" required>
                        </div>

                    </div>


                </div>
                <div class="text-center mt20">
                    <button type="submit" class="btn btn-black" id="registration-submit-btn">Update Details</button><br><br>
                </div>
            </form>
        </div>
    </section>

    <!--<section id="nonieee" class="section registration">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title" align="center">Payment Conifrmation (For Non IEEE Members)</h3>
                </div>
            </div>

            <form method="post" onsubmit="return validate()" id="upd">
                <div id="updiv" class="row">
                    <div class="col-md-12" id="registration-msg" style="display:none;">
                        <div class="alert"></div>
                    </div>
                    <div class="col-sm-12">

                        <div class="form-group">
                            <input ng-model="data.upd.email" type="email" class="form-control" placeholder="Email" id="email" name="email" required>
                        </div>

                        <div class="form-group" align="center">
                            <input ng-model="data.upd.password" type="password" class="form-control" placeholder="Password" id="password" name="password" required>
                        </div>

                        <div class="form-group">
                            <input ng-model="data.upd.transID" type="text" class="form-control" placeholder="Yepdesk transactional Id" id="yepdesk" name="yepdesk" required>
                        </div>

                    </div>


                </div>
                <div class="text-center mt20">
                    <button type="submit" class="btn btn-black" id="registration-submit-btn">Update Details</button><br><br>
                </div>
            </form>
        </div>
    </section>

    <section id="testchange" class="section about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title" align="center">Update Test Centres </h3>
                </div>
            </div>

            <form method="post" id="venueUpd">
                <div id="venuediv" class="row">
                    <div class="col-md-" id="registration-msg" style="display:none;">
                        <div class="alert"></div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <input ng-model="data.venue.email" type="email" class="form-control" placeholder="Email" id="email" name="email" required>
                        </div>

                        <div class="form-group" align="center">
                            <input ng-model="data.venue.password" type="password" class="form-control" placeholder="Password" id="password" name="password" required>
                        </div>
                        <div class="wrap-input100 input100-select bg1">
                            <span class="label-input100">Select First Choice Of Exam Centre </span>
                            <div>
                                <select ng-model="data.venue.centre1" class="js-select2" name="service" id="centre1">
							<option selected="selected"  value="Kochi">Kochi</option>
							<option value="Trivandrum">Trivandrum</option>
							<option value="Kollam">Kollam</option>
							<option value="Kuttipuram">Kuttipuram</option>
						</select>
                                <div class="dropDownSelect2"></div>
                            </div>
                        </div>

                        <div class="wrap-input100 input100-select bg1">
                            <span class="label-input100">Select Second Choice Of Exam Centre  </span>
                            <div>
                                <select ng-model="data.venue.centre2" class="js-select2" name="service" id="centre2">
							<option selected="selected"  value="Kochi">Kochi</option>
							<option value="Trivandrum">Trivandrum</option>
							<option value="Kollam">Kollam</option>
							<option value="Kuttipuram">Kuttipuram</option>
						</select>
                                <div class="dropDownSelect2"></div>
                            </div>
                        </div>

                        <div class="wrap-input100 input100-select bg1">
                            <span class="label-input100">Select Third Choice Of Exam Centre  </span>
                            <div>
                                <select ng-model="data.venue.centre3" class="js-select2" name="service" id="centre3">
							<option selected="selected"  value="Kochi">Kochi</option>
							<option value="Trivandrum">Trivandrum</option>
							<option value="Kollam">Kollam</option>
							<option value="Kuttipuram">Kuttipuram</option>
						</select>
                                <div class="dropDownSelect2"></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="text-center mt20">
                    <button type="submit" ng-click="updateVenues()" class="btn btn-black" id="updv">Update Venues</button><br><br>
                </div>
            </form>
        </div>
    </section>-->

    <section id="admitcard" class="section registration">
        <div ng-controller="regController" class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title" align="center">Admit Card Download</h3>
                    <h2 class="section-title" align="center">Login To Download Admit Card</h2>
                </div>
            </div>

            <!--<form method="post" id="admit">
                <div id="abc" class="row">
                    <div class="col-md-12" id="registration-msg" style="display:none;">
                        <div class="alert"></div>
                    </div>
                    <div class="col-sm-12">

                        <div class="form-group">
                            <input ng-model="data.admit.email" type="email" class="form-control" placeholder="Email" id="email" name="email" required>
                        </div>

                        <div class="form-group" align="center">
                            <input ng-model="data.admit.password" type="password" class="form-control" placeholder="Password" id="password" name="password" required>
                        </div>

                    </div>
                </div>
                <div id="admitDiv" class="text-center mt20">
                    <button ng-click="getHallTicket()" type="submit" class="btn btn-black" id="registration-submit-btn">Download Admit Card</button><br><br>
                </div>
            </form>-->
        </div>
    </section>

    <section id="about" class="section about">
        <h2 class="section-title">
            <center>ABOUT</center>
            <center>---------</center>
        </h2>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <h3 class="section-title">About IEEE Job Fair 2018</h3>

                    <ul>
                        <li> Venue : School of Engineering ,CUSAT</li>
                        <li> Date:June 23-24 2018</li>
                        <li> IEEE job fair is a joint initiative taken up by IEEE Kerala section and IEEE Kochi subsection </li>
                        <li> This is the third consecutive year that the fair is being conducted.IEEE Job Fair 2018 is the perfect platform for recruiters and the candidates to interact and discover their common ground. </li>
                        <li> The candidates get to show their true potential and stand a chance to work with experts from various fields </li>
                        <li> With the wide array of companies arriving at the fair, the candidates get more exposure and choices.IEEE job fair is also the ideal place for companies to hire employees who fit the bill </li>
                    </ul>


                </div>
                <!-- /.col-sm-6 -->

                <!-- /.col-sm-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>


    <!--<section id="about" class="section about">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">

                    <h3 class="section-title">About Us</h3>

                    <p>IEEE job fair is a joint initiative taken up by the IEEE Kochi section and IEEE Kochi subsection.This is the third consecutive year that the fair is being conducted.IEEE Job Fair 2018 is the perfect platform for recruiters and the
                        candidates to interact and discover their common ground.The candidates get to show their true potential and stand a chance to work with experts from various fields.With the wide array of companies arriving at the fair, the candidates
                        get more exposure and choices.IEEE job fair is also the ideal place for companies to hire employees who fit the bill.It is one of the few places where candidates are chosen based on their calibre and knowledge rather than being
                        evaluated on the basis of their grades.With the huge successes of the previous two job fairs and having won the IEEE award for best event conducted by a Student Branch across the world, this year’s job fair promises to deliver
                        and live up to its reputation.</p>



                </div>

                <div class="col-sm-6">

                    <h3 class="section-title multiple-title">About IEEE</h3>

                    <p>IEEE is the world’s renowned professional organisation for engineers, catering to over 100,000 members worldwide. IEEE Kerala Section is one of the most active Section, having won the Outstanding Large Section Award from IEEE HQ for
                        the year 2015. The vibrant student community along with the passionate Young Professionals make Kerala Section one of the most active in the world, conducting a variety of events and activities.
                    </p>




                </div>
            </div>
        </div>
    </section>-->
    <section id="about" class="section about">
        <div class="container">

            <div class="row">
                <div class="col-sm-6">
                    <figure>
                        <img alt="" class="img-responsive" src="assets/images/IEEE.png">
                    </figure>

                    <p>
                        IEEE, being the world’s largest technical professional society, is continuously promoting the development and application of electrotechnology and allied sciences for the benefit of humanity and for the advancement of the profession. With the 4,30,000
                        members spanning across 165 countries of the globe, IEEE fosters the development of standards, that often became national and international standards and produces over 30% of the world’s literature in its related fields, publishing
                        well over 100 peer- reviewed journals. visit : <a href="http://www.ieee.org">www.ieee.org</a>
                    </p>


                </div>
                <!-- /.col-sm-6 -->
                <div class="col-sm-6">
                    <!--<h3 class="section-title">IEEE Kerala Section</h3>-->
                    <figure>
                        <img alt="" class="img-responsive" src="assets/images/KS.png">
                    </figure>
                    <p>IEEE activities in Kerala have reached its 33rd year. Initiated on 17 February 1975 as a subsection under the then India section, Kerala subsection became part of the Bangalore Section in 1976 upon formation of India Council. Kerala
                        became a full Section in 1983. The section has been very active since its formation. It has been holding a national or international seminar every year since 1984. As of January 2008, Kerala Section has around 1500 members including
                        student members. The section has a Computer Society Chapter, a Power engineering Society Chapter, a joint Chapter on Industry Applications & Industrial Electronics Societies and a Communication Society Chapter. Two affinity groups
                        called IEEE GOLD and IEEE Women in Engineering are running under this section. Student branches have been established in 52 Engineering Colleges. Visit : <a href="http://www.ieeekerala.org">www.ieeekerala.org</a></p>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-6">
                    <figure>
                        <img alt="" class="img-responsive" src="assets/images/link.png">
                    </figure>
                    <p>LINK is an innovative concept that originated in IEEE Kerala Section in India, aimed at networking student branches in an effective way, thereby increasing the value in IEEE Student membership. LINK was formally inaugurated by past
                        IEEE President Mr. Cleon Anderson in January 2005. Since its inception LINK has achieved tremendous results, causing an exponential increase in student branches and student activities in IEEE Kerala Section over the years. The
                        model of link was adopted by IEEE Region 10 as R10 GINI (Global Integrated Network of IEEE Students). The founders of LINK went on to receive the MGA innovation award in 2008. visit : <a href="http://www.ieee-link.org">www.ieee-link.org</a></p>

                </div>
            </div>
        </div>
    </section>
    <!--
    <section id="facts" class="section bg-image-1 facts text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">

                    <i class="ion-ios-calendar"></i>
                    <h3>2015<br>June 25</h3>
                
                </div>
                <div class="col-sm-3">

                    <i class="ion-ios-location"></i>
                    <h3>California<br>USA</h3>
                
                </div>
                <div class="col-sm-3">

                    <i class="ion-pricetags"></i>
                    <h3>150<br>Tickets</h3>
                
                </div>
                <div class="col-sm-3">
                
                    <i class="ion-speakerphone"></i>
                    <h3>06<br>Speakers</h3>
                
                </div>
            </div>
        </div>
    </section>
	-->
    <!--
    <section id="partner" class="section partner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">Event Partner</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <a class="partner-box partner-box-1"></a>
                </div>
                <div class="col-sm-3">
                    <a class="partner-box partner-box-2"></a>
                </div>
                <div class="col-sm-3">
                    <a class="partner-box partner-box-3"></a>
                </div>
                <div class="col-sm-3">
                    <a class="partner-box partner-box-4"></a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <img src="assets/images/header.jpg" width="100%">
                </div>
                <div class="col-sm-3">
                    <img src="assets/images/header.jpg" width="100%">
                </div>
                <div class="col-sm-3">
                    <img src="assets/images/header.jpg" width="100%">
                </div>
                <div class="col-sm-3">
                    <img src="assets/images/header.jpg" width="100%">
                </div>
            </div>
    </section>
    -->


    <section id="contribution" class="section bg-image-2 contribution">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-uppercase mt0 font-400">Register Now</h3>

                    <p>You're just a click away from getting that dream job.Register now to stand a chance to be placed in some of the leading companies </p>

                    <a class="btn btn-white" href="registernow.html" target="_blank">Register Now</a>
                </div>
            </div>
        </div>
    </section>

    <section id="schedule" class="section schedule">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">Job Fair Schedule</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="schedule-box">
                        <div class="time">
                        </div>
                        <h3>1.Preliminary Test </h3>
                        <br>
                        <p>Across 5 Centers in Kerala</p>
                        <p>May 26th, 2018</p>

                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="schedule-box">
                        <div class="time">
                        </div>
                        <h3>2.Training for the shortlisted candidates</h3>
                        <p>Further details will be announced</p>
                        <p>Will be announced</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="schedule-box">
                        <div class="time">
                        </div>
                        <h3>3.Interviews and further Selection</h3>
                        <p>For those who got selected</p>
                        <p>June 23-24,2018</p>
                    </div>
                </div>

            </div>
    </section>
    <!--
        <section id="facts" class="section bg-image-1 facts text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">

                    <i class="ion-ios-calendar"></i>
                    <h3>2015<br>June 25</h3>
                
                </div>
                <div class="col-sm-3">

                    <i class="ion-ios-location"></i>
                    <h3>California<br>USA</h3>
                
                </div>
                <div class="col-sm-3">

                    <i class="ion-pricetags"></i>
                    <h3>150<br>Tickets</h3>
                
                </div>
                <div class="col-sm-3">
                
                    <i class="ion-speakerphone"></i>
                    <h3>06<br>Speakers</h3>
                
                </div>
            </div>
        </div>
    </section>
	-->

    <section id="recruiter" class="section partner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">Past Recruiters</h3><br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <img src="assets/images/8.png" width="100%">
                </div>
                <div class="col-sm-3">
                    <img src="assets/images/2.png" width="100%">
                </div>
                <div class="col-sm-3">
                    <img src="assets/images/3.png" width="100%">
                </div>
                <div class="col-sm-3">
                    <img src="assets/images/5.jpg" width="100%">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <img src="assets/images/1.png" width="100%">
                </div>
                <div class="col-sm-3">
                    <img src="assets/images/6.jpg" width="100%">
                </div>
                <div class="col-sm-3">
                    <img src="assets/images/7.png" width="100%">
                </div>
                <div class="col-sm-3">
                    <img src="assets/images/4.jpg" width="100%">
                </div>
            </div>
    </section>


    <!--
    <section id="location" class="section location">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h3 class="section-title">Location</h3>
                    <address>
                        <p>The exact details will be updated soon</p>
                    </address>
                </div>
                <div class="col-sm-9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96706.50013548559!2d-78.9870674333782!3d40.76030630398601!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited+States!5e0!3m2!1sen!2sbd!4v1436299406518" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>-->

    <section id="partner" class="section partner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">Our Sponsors</h3><br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">

                </div>
                <div class="col-sm-3">
                    <img src="assets/images/kerala.jpg" width="100%">
                </div>
                <div class="col-sm-3">
                    <img src="assets/images/kochi.png" width="100%">
                </div>
                <div class="col-sm-3">
                </div>
            </div>


    </section>
    <section id="location" class="section location">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h3 class="section-title">Event Location</h3>
                    <address>
                        <p>School of Engineering, CUSAT<br> Pipeline Road, Kalamassery<br> Kochi, Kerala 682022<br></p>
                    </address>
                </div>
                <div class="col-sm-9">
                    <div style="width: 100%"><iframe width="100%" height="600" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=School%20of%20engineering%20Cusat+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0"
                            scrollingh="no" marginheight="0" marginwidth="0"></iframe></div><br /> </div>
            </div>
    </section>

    <section id="contact" class="section location">
        <div class="container">
            <div class="row">
                <h2>Contact Us</h2>
                <div class="col-md-4">
                    <h3> Shahim Baker</h3>
                    <h4> Firm Relations - JobFair 2018</h4>
                    <h4> Secretary, IEEE Kerala Section</h4>
                    <h5> +91 9895100209</h5>
                    <h5> shahim@ieee.org</h5>
                </div>
                <div class="col-md-4">
                    <h3> Sabarinath Pillai</h3>
                    <h4> Firm Relations - JobFair 2018</h4>
                    <h4> Student Activities Chair, IEEE Kerala Section</h4>
                    <h5> +91 9447583520</h5>
                    <h5> sabaripillai@ieee.org</h5>
                </div>
                <div class="col-md-4">
                    <h3> Asif Noushad</h3>
                    <h4> JobFair Details - JobFair 2018</h4>
                    <h4> Student Representative, IEEE Kerala Section</h4>
                    <h5> +91 9526032757</h5>
                    <h5> asif.n.s@ieee.org</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h3> Amrith M </h3>
                    <h4> Payment/Registration Details - JobFair 2018</h4>
                    <h5> +91 7034376024</h5>
                    <h5> amrith@ieee.org</h5>
                </div>
                <div class="col-md4">
                    <h3> Kishore C M </h3>
                    <h4> Venue Details - JobFair 2018</h4>
                    <h5> +91 9846507911</h5>
                    <h5> cmkishore@ieee.org</h5>
                </div>
            </div>
    </section>

    <footer class="site-footer">
        <div class="container">
            <div class="row">

                <div class="col-sm-12">
                    <p class="site-info">Designed and <br> Maintained by IEEE Kerala Section</p>

                    <ul class="social-block">
                        <li><a href=""><i class="ion-social-facebook"></i></a></li>
                    </ul>
                </div>

            </div>
    </footer>
    <script>
        function validate() {
            var trans = document.forms["upd"]["yepdesk"].value;

            if (trans == null || trans == "") {
                alert("Transaction ID must be filled out ");
                return false;
            }

            angular.element(document.getElementById('updiv')).scope().updateNonIEEE();

        }

        function valAdmit() {
            var email = document.forms["admit"]["email"].value;

            if (email == null || email == "") {
                alert("Email ID must be filled out ");
                return false;
            }

            var pass = document.forms["admit"]["password"].value;

            if (pass == null || pass == "") {
                alert("Password must be filled out ");
                return false;
            }

            angular.element(document.getElementById('admitDiv')).scope().getHallTicket();

        }
    </script>

    <!-- script -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/controller.js"></script>

</body>

</html>