<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="jobfair">

<head>
    <link rel="icon" type="image/png" href="fav.png" />

    <title>IEEE Job Fair 2018</title>
    <meta charset="iso-8859-1">
    <link rel="stylesheet" href="css/layout.css" type="text/css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    table,
    th,
    td {
        margin:3px;
        border: 2px solid black;
        border-collapse: collapse;
        text-align: center;
        padding: 3px;

    }
    
    .btn-bs-file {
        position: relative;
    }
    
    .btn-bs-file input[type="file"] {
        position: absolute;
        top: -9999999;
        filter: alpha(opacity=0);
        opacity: 0;
        width: 0;
        height: 0;
        outline: none;
        cursor: inherit;
    }
</style>

<body class="container" ng-controller="loginController">
    <div class="wrapper row1">
        <header id="header" class="clear">
            <div id="hgroup">
                <h1><a href="index.html">IEEE Job Fair 2018</a></h1>
                <h2>Welcome {{user}}</h2>
            </div>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><button class="btn btn-danger" ng-click="logout()">Logout</button></li>
                    <li>
                        <label class="btn-bs-file btn btn-primary">
                            Upload Your Resume
                            <input type="file" file="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)" required/>
                        </label>
                    </li>
                    <li><button class="btn btn-info btn-lg" onclick=location.href="companyreg.html">Company Registration</button></li>
                </ul>
            </nav>
        </header>
    </div>

    <div>
        <div id="container" class="clear">
            <div id="content">
                <p> Please upload your Resume in .pdf format to be considered for the interview. Click the upload resume button above.</p>
                <br>
                <h4> Resume Status : <b>{{res_stat}}</b> </h4>
            </div>
        </div>
    </div>
    <div>
        <div id="container" class="clear">
            <div id="content">
                <section>
                    <p> Click Button to View Results : <button class="btn btn-primary" ng-click="result()">View Results</button> </p>
                    <div ng-show='res'>
                        <h2> <b>Your Results </b></h2>
                        <table style="width:100%">
                            <tr>
                                <th>Section</th>
                                <th>Your Marks</th>
                                <th>Total Marks</th>
                            </tr>
                            <tr>
                                <td>Aptitude</td>
                                <td>{{apti}}</td>
                                <td>39</td>
                            </tr>
                            <tr>
                                <td>Technical</td>
                                <td>{{tech}}</td>
                                <td>45</td>
                            </tr>
                            <tr>
                                <td>Logical</td>
                                <td>{{logic}}</td>
                                <td>45</td>
                            </tr>
                            <tr>
                                <td><b>TOTAL</b></td>
                                <td>{{total}}</td>
                                <td>129</td>
                            </tr>

                        </table>
                        <br>
                        <br>
                        <ul>
                            <li><b>NOTE:</b> You'll be informed by mail when we start the company registration process but please check the portal regularly.</li>
                            <li><b>NOTE:</b> Each company will have a cut-off and you can only attend the company's interview if you clear the cut-off </li>
                            <li><b>NOTE:</b> Some companies you choose to sit may conduct additional tests. </li>
                        </ul>
                    </div>
                </section>

            </div>
        </div>
    </div>

    <!--<div id="footer" class="clear">
        <div class="wrapper row4">
            <footer id="copyright" class="clear">
                <p align="center">Copyright &copy; 2018 - All Rights Reserved - <a href="#">IEEE Kerala Section</a></p>
                <p align="center">Developed by IEEE Kerala Section</p>
            </footer>
        </div>
    </div>-->

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/controller.js"></script>

</body>

</html>